---
import Layout from "../layouts/Layout.astro";
import Me from "../components/Me.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Alejandro's Portfolio | Full Stack Developer">
  <main class="m-auto max-w-xl px-4 text-neutral-200">
    <Me />
    <About />
    <Experience />
    <Skills />
    <Projects />
  </main>
</Layout>
