---

---

<section class="mb-6">
<div class="font-extralight">About</div>
<p class="text-sm text-gray-300">Hello, I'm Alejandro, a passionate full stack web developer based in Tijuana, BC, Mexico. With a relentless drive for innovation and a commitment to perfection, I specialize in crafting immersive and user-centric web applications. Let's collaborate to build something extraordinary together!</p>
</section>
