<section class="mb-6 space-y-2">
  <p>
    I'm a Full Stack Developer and also an experienced <b>Zoho</b> platform developer
    with more than <b>4 years</b> of experience developing both <b>back-end</b> and
    <b>front-end</b>
    solutions. I'm currently using the Javascript ecosystem with <b
      >Typescript</b
    > to create these web solutions.
  </p>

  <p>
    I always strive to be the best version of myself, trying to learn new things
    and stay up-to-date with modern development technologies.
  </p>
</section>
