 <div class="flex justify-evenly items-center text-center mb-8">
   <a href="https://github.com/alemz-li" rel="noopener noreferrer" target="_blank" class="bg-neutral-950 hover:bg-white hover:text-black border border-neutral-400 px-4 py-2 text-sm rounded-xl mx-2 transition-all">Github Page</a>
   <a href="mailto:alemz-li@outlook.com" rel="noopener noreferrer" target="_blank" class="bg-white text-black hover:bg-black hover:text-white hover:border hover:border-neutral-400 border border-neutral-800 px-4 py-2 text-sm rounded-xl mx-2 transition-all">Contact Me</a>
 </div>
