---
import Links from "../components/Links.astro";

const dob = new Date("1996-01-03");
const currentDate = new Date();

let age = currentDate.getFullYear() - dob.getFullYear();
if (
  currentDate.getMonth() < dob.getMonth() ||
  (currentDate.getMonth() === dob.getMonth() &&
    currentDate.getDate() < dob.getDate())
) {
  age--;
}
---

<header class="mb-4 flex items-center justify-center px-4 py-2 md:mx-4">
  <div class="mr-8 flex-shrink-0">
    <img
      class="inline-block h-28 w-28 rounded-full object-cover object-center shadow-md ring-2 ring-neutral-700"
      src="me.jpg"
      alt="profile-picture"
    />
  </div>
  <div class="font-light">
    <h1 class="font-bold text-white md:text-2xl">Alejandro Meza Zamora</h1>
    <p>Full Stack Developer</p>
    <p>Node.js Developer</p>
    <span>{age} years old</span>
    <Links />
  </div>
</header>
