---
import {skills} from "../lib/data"
---

<section class="mb-8">
  <h2 class="font-extralight mb-2">Skills</h2>
  <div class="flex justify-center flex-wrap text-neutral-400">
  {skills.map(skill => (<span class="m-2 text-xs hover:border-white">{skill}</span>))}
  </div>
</section>
