---
import { skills } from "../lib/skills";
---

<section class="mb-8 space-y-3">
  <h2 class="font-bold text-white">Skills</h2>
  <div class="text-neutral-400">
    {
      Object.entries(skills).map(([prop, skill]) => (
        <div class="text-sm">
          <h3 class="font-semibold capitalize text-white">{prop}</h3>
          <ul class="flex flex-wrap gap-x-3">
            {skill.map((s) => (
              <li>{s}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
